obj/
bin/
.vs/
.vscode/
**/wwwroot/images/*
!**/wwwroot/images/README.md
*.editorconfig
uploads/
build/
node_modules/
*.~vsdx
*.db
*.DS_Store
appsettings.Production.json
appsettings.json
launchSettings.json
*.csproj.user
